
@font-face {
  font-family: 'meiryo';
  src: url('../fonts/meiryo.ttc')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'meiryob';
  src: url('../fonts/meiryob.ttc')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
